__pycache__/
sendfile.py
.gitignore
savequery.txt
*.zip
temp.*
winfo
README.html
prompt.html
bkup_*
queries.md
gptgui.mp3
speak.mp3
speech.mp3
conversation.json
log.md
.clai_local
old_source
gptgui.pyc
